/*universal
========================================================== */
/*body
========================================================== */
body { 
background-color: #4171ce;

}

body, p, ol, ul, td {
  font-family: arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

/*wrapper
========================================================== */
#wrapper{
background-color: #ffffff;
margin: 10px auto;
width:600px;
border:1px solid #000000;
padding:10px 5px;
}


/*class styles
========================================================== */
.price{
	color:#F4C511;
}

/*houses
========================================================== */
#house_index_list{
	
}

#house_index_list ul, h4, h3, p{
	padding:0;
	margin:0;
	list-style-type: none;
	
}

#house_numbers li {
	display:inline;
	padding-right: 23px;
}

#house_numbers {
	background:#DCDCDC;

 }

#house_show ul, h4, h3, p{
	padding:0;
	margin:0;
	list-style-type: none;
	
}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}
/*links
========================================================== */
a {
	color: #000000;
	text-decoration: underline;	
}
a:visited {
	color: #000000;
}
a:hover {
	color: #000000;
	background-color:#4171ce;
	text-decoration:none;
}



.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

