<p>
  <b>Location:</b>
  <%=h @location.location %>
</p>

<p>
  <b>House:</b>
  <%=h @location.house_id %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>